<!DOCTYPE html>
<html>
  <head>
    <title>PrivateMembers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <br/>
    <% if flash[:notice] %>
      <p class="notice"><%= notice %></p>
    <% end %>

    <% if flash[:alert] %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <% if member_signed_in? %>
    <%= link_to current_member.email, edit_member_registration_path %>
    <%= link_to 'logout', destroy_member_session_path, method: :delete %>

    <% else %>
    <%= link_to 'signin', new_member_session_path %>
    <%= link_to 'sign up', new_member_registration_path %>
    <% end %>

    <%= yield%>
  </body>
</html>
